:root {
   
    box-sizing: border-box;
}
body {
    max-width: 1280px;
    background-color: #FFFFFF;
    

}
    
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.logo {
    justify-self:flex-start;
}
.cozLogo {
    display: flex;
    justify-items: center;
}
.cozIcon {
    justify-content: end;
}

::-webkit-scrollbar {
    display: none;
  }