

.product-container {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-content: space-around;

}
.pr-item {
    border-radius: 12px;
  width: 25%;
  height: 25%;
  object-fit: cover;
  overflow: hidden;
  transition: all 0.3s ease; 
}
 .pr-item:hover {
    background-color: white;
    cursor: pointer;
    transform: scale(1.07);
    filter: opacity(0.88);
  } 
  
